
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*-----Reset-------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
ul{
    list-style: none;
}
input,
button{
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
}
button{
    border: none;
    padding: 15px 15%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;

}
button:hover{
    transform: scale(1.1);
    transition: .5s;
}

/*----App-----*/

.app{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/16/Appearance_of_sky_for_weather_forecast%2C_Dhaka%2C_Bangladesh.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

